/* .left > .dan
{
    border: 1px solid black;
}

.left > .jon
{
    bordeR: 1px solid crimson;
}

.left > .jean
{
    bordeR: 1px solid crimson;
}

.left > .pat
{
    bordeR: 1px solid black;
} */