*
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: arial;
    font-size: 2.5rem;
    font-weight: bold;
    background: rgb(245, 245, 130);
}

body>div
{
    
    height: 78%;
    width: 22rem;
    padding: 0px;
    display: flex;
    padding-bottom: 10px;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
    align-content: end;
    background: #b1b1b1;
    border: 5px solid #41403e;
    border-radius: 500px 500px 40px 40px  / 200px 200px 40px 40px  ;
}


body>div div
{
    width: 5rem;
    height: 5rem;
    padding-top: 12px;
    border: 6px solid #41403e;
    border-radius: 50% 5% 50% 5%  / 5% 50% 5%  50%  ;
}

body>div div:nth-child(1), 
body>div div:nth-child(2),
body>div div:nth-child(3)
{
    position: absolute;
    border: 2px solid black;
}

body>div div:nth-child(1)
{
    top: 3%;
    height: 6rem;
    width: 19rem;
    text-align: right;
    padding-top: 2.5rem;
    padding-right: 1.5rem;
    background: #fefefe;
    border: 6px solid black;
    border-radius: 50% 50% 0px 0px  / 50px 50px 0px 0px  ;
}


body>div div:nth-child(2)
{
    top: 21%;
    left: 20px;
    height: 3rem;
    width: 14rem;
    font-size: 1rem;
    font-weight: 750;
    padding-top: 12px;
    color: #fefefe;
    background: #41403e ;
    border: 2px solid #41403e;
    border-radius: 2.5rem 0.3rem;
}

body>div div:nth-child(3)
{
    top: 20%;
    right: 20px;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1rem;
    font-weight: 1000;
    padding-top: 14px;
    border-radius: 50%; 
    color: #fefefe;
    background: #bb0f29;
    border: 2px solid #bb0f29;
}

body>div div:nth-child(16)
{
    height: 5rem;
    width: 10rem;
}

body>div div:nth-child(19)
{
    margin: 5px;
    height: 4rem;
    width: 20rem;
    color: #fefefe;
    background: #bb0f29;
    font-size: 2rem;
    border: 0.1px solid #bb0f29;
    padding-top: 12px;
    border-radius: 1rem;
}

footer
{
    bottom: 0;
    height: 6%;
    width: 100vw;
    font-size: 1rem;
    font-family:consolas;
    background: #ddbd7f;
    padding-top: 1rem;
    position: absolute;
    
}