:root
{
    --fond: #34495e;
    --blue: #3598db;
    --orange: #e67e21;
    --vioclair: #9a59b5;
    --viodark: #8c44ac;
    --silver: #bec3c7;
    --graygreen: #7e8c8d;
    --turquoise: #1bbc9b;
}

.w
{

    color: #34495e, #9a59b5, #3598db, #e67e21, #1abc9b, #8c44ac, #e84c3d, #e57e21;

}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans.woff2') format('woff2'),
        url('OpenSans.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;  
}

body > div
{
    margin: 40px;
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 1px solid black;
}

body > div div
{
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    background: var(--fond);
}

/*-------------------------Premier loader de 30%-------------------------*/

body > div:nth-child(1) div::before
{
    
    content: '';
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--blue);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(56px, -6px) rotate(10deg);
    
}

body > div:nth-child(1) div::after
{
    
    top: 24px;
    left: 22px;
    content: '30';
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    position: absolute;
    font-family: Open Sans;
}

body > div:nth-child(1) span
{
    
    top: 34px;
    left: 62px;
    content: '30';
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    color: rgb(255, 255, 255, 0.7);
    font-family: Open Sans;
}



/*-------------------------Deuxieme loader de 60%-------------------------*/


body > div:nth-child(2) div::before
{
    
    content: '';
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--vioclair);
    border-bottom: 0.5px solid var(--vioclair);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(50px, -10px) rotate(0deg);
    
}

body > div:nth-child(2) span:nth-child(1)
{
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--vioclair);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(50px, 50px) rotate(90deg);
}

body > div:nth-child(2) span:nth-child(2)
{
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--vioclair);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(10px, 61px) rotate(149deg);
}



body > div:nth-child(2) div::after
{
    
    top: 25px;
    left: 22px;
    content: '60';
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    position: absolute;
    font-family: Open Sans;
}

body > div:nth-child(2) span:nth-child(3)
{
    
    top: 34px;
    left: 62px;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    color: rgb(255, 255, 255, 0.7);
    font-family: Open Sans;
}

/*-------------------------Troisieme loader de 60%-------------------------*/

body > div:nth-child(3) div::before
{
    
    content: '';
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--orange);
    border-bottom: 0.5px solid var(--orange);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(50.15px, -10px) rotate(0deg);
    
}

body > div:nth-child(3) span:nth-child(1)
{
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--orange);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(50px, 50px) rotate(90deg);
}

body > div:nth-child(3) span:nth-child(2)
{
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--orange);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(10px, 61px) rotate(149deg);
}

body > div:nth-child(3) span:nth-child(3)
{
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--orange);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(-20.25px, 10px) rotate(-120deg);
}


body > div:nth-child(3) div::after
{
    
    top: 25px;
    left: 22px;
    content: '90';
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    position: absolute;
    font-family: Open Sans;
}

body > div:nth-child(3) span:nth-child(4)
{
    
    top: 34px;
    left: 62px;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    color: rgb(255, 255, 255, 0.7);
    font-family: Open Sans;
}

/*-------------------------Tquatrieme loader de 60%-------------------------*/

body > div:nth-child(4) div
{
    background: #fff;
}


body > div:nth-child(4) div::before
{
    
    content: '';
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--turquoise);
    border-bottom: 0.5px solid var(--turquoise);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(50.15px, -10px) rotate(0deg);
    
}

body > div:nth-child(4) span:nth-child(1)
{
    width: 60px;
    height: 60px;
    z-index: -2;
    display: block;
    position: absolute;
    background: var(--turquoise);
    border-radius: 0 100% 0 0 / 0 100% 0 0;
    transform: translate(62px, 25px) rotate(52deg);
}


body > div:nth-child(4) span:nth-child(3)
{
    width: 120px;
    height: 120px;
    z-index: -3;
    display: block;
    position: absolute;
    background: var(--silver);
    border-radius: 50%;
    transform: translate(-10px, -10px);
}


body > div:nth-child(4) div::after
{
    
    top: 25px;
    left: 22px;
    content: '45';
    font-size: 2.2rem;
    font-weight: 600;
    position: absolute;
    color: var(--graygreen);
    font-family: Open Sans;
}

body > div:nth-child(4) span:nth-child(4)
{
    
    top: 34px;
    left: 62px;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    color: var(--graygreen);
    font-family: Open Sans;
}