.container
{
    height: 3092px;
    position: relative;
    margin: 0 auto;
}


.text 
{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    z-index: 1; 
    mix-blend-mode: difference;
}

.white 
{
width: 100%;
height: 600px;
position: relative;
background-color: black;
}

.black
{
    width: 100%;
height: 600px;
position: relative;
background-color: rgb(255, 255, 255);
}